*.suo
*.dll
*.exe
*.pdb
*.Cache
*.g.cs
*.g.i.cs
TestResults/
TestResults/*
Searcher/bin/
Searcher/bin/*
Searcher/obj/
Searcher/obj/*
SearcherTests/bin/
SearcherTests/bin/*
SearcherTests/obj/
SearcherTests/obj/*
